### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
Heroes_of_Pymoli = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(Heroes_of_Pymoli)

#Display the top 10 rows only

purchase_data_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Display the total number of players

In [2]:
Total_Players = len(purchase_data_df['SN'].unique())
Total_df = pd.DataFrame ({"Total Players":[Total_Players]})
Total_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Number of Unique Items
unique_item_count=len(purchase_data_df['Item ID'].unique())

#Average Purchase Price
avg_purchase_price=purchase_data_df['Price'].mean()

#Total Number of Purchases
total_purchases=purchase_data_df['Purchase ID'].count()

#Total Revenue
total_revenue=purchase_data_df['Price'].sum()

In [4]:
#Create a summary Data Frame to hold the results
purchase_summary_df=pd.DataFrame({"Number of Unique Items": [unique_item_count], "Average Price": [avg_purchase_price], 
                                  "Number of Purchases": [total_purchases], "Total Revenue": [total_revenue]})

#Give the displayed data cleaner formatting
purchase_summary_df['Average Price']=purchase_summary_df['Average Price'].map('${:.3}'.format)
purchase_summary_df['Total Revenue']=purchase_summary_df['Total Revenue'].map('${:,.6}'.format)
center_aligned_df = purchase_summary_df.style.set_properties(**{'text-align': 'center'})

#Display the summary data frame
center_aligned_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#Percentage and Count of Male Players, Female and Other/Non-Disclosed
Gender_group = purchase_data_df.groupby("Gender")
Gender_unique= Gender_group['SN'].nunique()

Gender_percentage=(Gender_unique/Total_Players)*100

#Create Data Frame to Display Results
Gender_summary=pd.DataFrame({"Total Counts": Gender_unique, "Percentage of Players": Gender_percentage})
Gender_summary.index.name=None
Gender_summary["Percentage of Players"]=Gender_summary["Percentage of Players"].map("{:.2f}%".format)

Gender_summary

                       Total Counts Percentage of Players
Female                           81                14.06%
Male                            484                84.03%
Other / Non-Disclosed            11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#Calculate Purchase Count
PA_Gender_group = purchase_data_df.groupby("Gender")
PA_Gender_count= PA_Gender_group['Purchase ID'].count()

#Average Purchase Price
PA_Gender_ppgroup = purchase_data_df.groupby("Gender")
PA_Gender_ppavg= PA_Gender_ppgroup['Price'].mean()

#Total Purchase Value
PA_Gender_pvgroup = purchase_data_df.groupby("Gender")
PA_Gender_pvavg= PA_Gender_pvgroup['Price'].sum()

#Average Total Purchase/Person
PA_Gender_appgroup = purchase_data_df.groupby("Gender")
PA_Gender_appavg= (PA_Gender_pvavg/Gender_unique)

#Create Data Frame to Display Results
PA_Gender_summary=pd.DataFrame({"Purchase Count": PA_Gender_count, "Average Purchase Price": PA_Gender_ppavg, "Total Purchase Value": PA_Gender_pvavg, "Avg Total Purchase per Person": PA_Gender_appavg})
PA_Gender_summary.index.name=None
PA_Gender_summary["Average Purchase Price"]=PA_Gender_summary["Average Purchase Price"].map("${:.2f}".format)
PA_Gender_summary["Total Purchase Value"]=PA_Gender_summary["Total Purchase Value"].map("${:,.2f}".format)
PA_Gender_summary["Avg Total Purchase per Person"]=PA_Gender_summary["Avg Total Purchase per Person"].map("${:.2f}".format)
center_aligned_df = PA_Gender_summary.style.set_properties(**{'text-align': 'center'})

#Display the Summary Data Frame
center_aligned_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
#Establish Bins for Ages

age_bins=[0, 9.90, 14.00, 19.90, 24.90, 29.90, 34.90, 39.90, 9999]
bin_names=["<10", "10-14", "15-19","20-24", "25-29", "30-34", "35-39", "40+"]

#Categorize the existing players using the age bins
purchase_data_df["Age Demographics Summary"]=pd.cut(purchase_data_df["Age"],age_bins, labels=bin_names)
purchase_data_df

#Calculate the numbers and percentages by age group
Age_Demographics_Group=purchase_data_df.groupby("Age Demographics Summary")
Age_unique= Age_Demographics_Group['SN'].nunique()

Age_percentage=(Age_unique/Total_Players)*100

#Create a summary data frame to hold the results
Age_Demo=pd.DataFrame({"Total Purchase Count": Age_unique,"Percentage of Players": Age_percentage})
Age_Demo.index.name=None

#Display Age Demographics Table
Age_Demo["Percentage of Players"]=Age_Demo["Percentage of Players"].map("{:.2f}%".format)
center_aligned_df = Age_Demo.style.set_properties(**{'text-align': 'center'})
center_aligned_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#Calculate Purchase Count
PA_Age_count= Age_Demographics_Group['Age'].count()

#Average Purchase Price
PA_Age_ppavg= Age_Demographics_Group['Price'].mean()

#Total Purchase Value
PA_Age_pvavg= Age_Demographics_Group['Price'].sum()

#Average Total Purchase/Person
PA_Age_appavg= (PA_Age_pvavg/Age_unique)

#Create Data Frame to Display Results
PA_Age_summary=pd.DataFrame({"Purchase Count": PA_Age_count, "Average Purchase Price": PA_Age_ppavg, "Total Purchase Value": PA_Age_pvavg, "Avg Total Purchase per Person": PA_Age_appavg})
PA_Age_summary.index.name=None
PA_Age_summary["Average Purchase Price"]=PA_Age_summary["Average Purchase Price"].map("${:.2f}".format)
PA_Age_summary["Total Purchase Value"]=PA_Age_summary["Total Purchase Value"].map("${:,.2f}".format)
PA_Age_summary["Avg Total Purchase per Person"]=PA_Age_summary["Avg Total Purchase per Person"].map("${:.2f}".format)
center_aligned_df = PA_Age_summary.style.set_properties(**{'text-align': 'center'})

#Display the Summary Data Frame
center_aligned_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame